.Tshirt img {
  width: 200px;
  margin-top: 50px;
}
.Tshirt {
  margin-top: 50px;
  margin-left: 600px;
}
.Tshirt h2 {
  margin-right: 250px;
}
.Tshirt002 h2 {
  margin-left: 520px;
}
.Print {
  margin-left: 550px;
  margin-top: 30px;
}
.Main02 {
  margin-left: 80px;
}
