.Eroor {
  height: 700px;
  background-image: url("ErooreBackground.png");
}
.Return02 {
  border: none;
  border-radius: 22px;
  color: white;
  background-color: #ff5e26;
  margin-top: 50px;
  width: 100px;
  height: 40px;
  margin-left: 50px;
}
