.input-field01 {
  width: 900px;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 40px;

  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.input-field01 i {
  text-align: center;
  line-height: 30px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
@media screen and (max-width: 1000px) {
  #ahla {
    width: 50px;
    padding-right: 200px;
  }
  .backe {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1200px) {
  #ahla {
    width: 50px;
    padding-right: 250px;
  }
  .backe {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1300px) {
  #ahla {
    width: 50px;
    padding-right: 300px;
  }
  .backe {
    margin-left: 50px;
  }
}
@media screen and (max-width: 800px) {
  .flexbox {
    flex-direction: column;
  }
  #ahla {
    padding-left: 250px;
  }
  .backe {
    margin-left: 50px;
  }
}

.input-field01 input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field01 input::placeholder {
  color: #aaa;
  font-weight: 500px;
}
.flexbox {
  display: flex;
}
.flexbox button {
  width: 150px;
  background-color: #3193f1;
  border: none;
  outline: none;
  height: 49px;

  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 30px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  transform: translate(-50%, -50%);

  transition: 1s 0.7s ease-in-out;

  z-index: 5;
}
.flexbox input {
  width: 500px;
}
.flexbox button {
  margin-left: 50px;
}
.button {
  display: flex;
}
#ahla {
  width: 450px;
}
.backe {
  margin-left: 161px;

  width: 275px;
}
.moazd {
  color: black;
}
.Pennie i {
  font-size: 35px;
}
.Personlise {
  margin-top: 20px;
}

.NavbarBackground {
  background-color: #2a98ff;
  margin-left: 20px;
  padding-top: 15px;
  text-decoration: none;
  width: 450px;
}
.NavbarBackground p {
  font-size: 18px;
  background-color: white;
  padding-left: 20px;
  font-weight: 500;
}
.moazd {
  width: 110px;
}
